body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

    background-image:url("https://img.freepik.com/free-photo/armchair-green-living-room-with-copy-space_43614-910.jpg?w=826&t=st=1711623036~exp=1711623636~hmac=8639e0a729f37ee720feb959130bcfab0000b65c828731b170dcf245b9790015");
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

input[type="text"] {
    width: calc(100% - 122px);
    padding: 10px;
}

button {
    padding: 10px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    background-color: #821e4e86;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.completed {
    text-decoration: line-through;
    opacity: 0.6;
}

.delete-btn {
    cursor: pointer;
    color: rgba(1, 7, 6, 0.847);
    border: none;
    background: none;
    font-size: 1em;
}
